.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #ace2e8

}

.heading {
  height: 12vh;
  border: black;
  border-bottom-color: black;
  text-decoration: underline;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-radius: 5px;
}


.heading h1 {
  position:absolute;
  top: -1vh;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: "Courier New"  
}


.body input {
  position: absolute;
  top:30%;
  align-self: center;
  justify-self: center;
  width: 40%;
  height: 10%;
  right:30%;
  text-align: center;
  border-radius: 20px;
  border: 2px solid rgb(141, 178, 193);
  font-size: 40px;
  font-family:"Lucida Console", "Courier New", monospace;;
  
}

.body {
  justify-content: center;

}